* {
  font-family: 'IBM Plex Sans', sans-serif !important;
}

body {
  margin: 0;
}

.mainPage {
  min-height: calc(100vh - 48px);
}

.MuiInputBase-root {
  border-radius: 0 !important;
}

.css-c5v1qu-MuiInputBase-input-MuiFilledInput-input, .css-1u9li0h-MuiInputBase-input-MuiFilledInput-input, .createWorkspaceForm input, .css-d9oaum-MuiSelect-select-MuiInputBase-input-MuiFilledInput-input.css-d9oaum-MuiSelect-select-MuiInputBase-input-MuiFilledInput-input.css-d9oaum-MuiSelect-select-MuiInputBase-input-MuiFilledInput-input {
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 14px;
  line-height: 18px;
  height: 18px;
}

.createWidgetFrom input {
  padding: 11px 16px;
  font-size: 14px;
  line-height: 20px;
  height: 18px;
}

.iconInput .MuiSelect-filled {
  height: 18px !important;
  line-height: 18px !important;
  padding-bottom: 10px !important;
  padding-top: 10px !important;
}

.css-1wc848c-MuiFormHelperText-root.Mui-error {
  margin-left: 0;
}

.closeMenuIcon span {
  margin-right: 0px;
  margin-left: 0px;
  transform: rotate(180deg);
}

.closeMenuIcon span svg {
  height: 11px;
  width: 11px;
}

.trackWebSiteIcon {
  height: 18px;
  margin-right: 14px;
}

.createWidgetTextArea .MuiFilledInput-root {
  padding: 16px;
  min-height: 100px;
  height: inherit;
}

.createWidgetTextArea textarea {
  font-size: 14px;
  line-height: 20px;
  height: inherit !important;
}

.addCtaSwitch .checked span {
  background-color: #198038;
  border-radius: 1rem;
}

.addCtaSwitch span {
  background-color: #e74c3c;
  border-radius: 1rem;
  padding: 0;
  height: 18px;
}

.addCtaSwitch .css-ruk3pj::before {
  height: 16px;
  width: 16px;
  background-size: 90%;
}

.addCtaSwitch .css-ruk3pj {
  width: 16px;
  height: 16px;
  top: 1px;
  left: 1px;
}

.addCtaSwitch .css-197rh82 {
  width: 42px;
}

.widgetPositionInput .MuiSelect-select {
  height: 18px;
  font-size: 14px;
  line-height: 18px;
  padding: 10px 16px 10px 16px;
}

.emojiPickerBox {
  position: relative;
}

.emojiPickerBox .react-input-emoji--container {
  width: 0;
  height: 0;
  min-width: 0;
  min-height: 0;
  font-size: 0 !important;
  overflow: hidden;
  opacity: 0;
}


.emojiPickerBox .react-emoji {
  position: absolute;
  top: 0;
  left: 0;
}

.emojiPickerBox .react-input-emoji--button {
  top: 0;
  left: -12px;
  width: 100%;
  min-height: 40px;
  opacity: 0;
}

.emojiPickerBox input {
  font-size: 18px;
  text-align: center;
  margin-right: 12px;
}

.emojiPickerBox::after {
  content: '';
  position: absolute;
  right: 3px;
  top: 13px;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="20" width="20" focusable="false" aria-hidden="true" viewBox="0 0 24 24" data-testid="ExpandMoreIcon"><path d="M16.59 8.59 12 13.17 7.41 8.59 6 10l6 6 6-6z"></path></svg>');
  height: 16px;
  width: 20px;
  background-size: 100%;
  background-position: 50% 50%;
  z-index: -1;
  opacity: 0.5;
}

.react-emoji-picker--wrapper {
  position: absolute;
  bottom: auto !important;
  right: -200px !important;
  top: -100px;
}

.greeColor {
  opacity: 0.3;
  filter: grayscale(1);
  z-index: -1;
  position: relative;
}

.onlyIcon {
  margin-top: 7px;
}

